.message {
    visibility: hidden;
    color: #BBB;
    text-align: center;
    border-radius: .4em;
    padding: .54em;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 7.34em;
    font-size: 1.25em; /* Roboto */
    /* font-size: 1.25em; */
    opacity: .98;
    box-shadow: 0 .27em .54em 0 rgba(0, 0, 0, 0.4), 0 .4em 1.34em 0 rgba(0, 0, 0, 0.39);
    word-wrap: break-word;
  }
  
  #snackbar {
    background-color: #222;
    min-width: 16.67em;
    max-width: 16.67em;
    margin-left: -8.335em;
  }
  
  #errormsg {
    background-color: #992329;
    cursor: pointer;
    min-width: 23.34em;
    max-width: 23.34em;
    margin-left: -11.67em;
    color: #ddd;
  }
  
  #errormsg .closebtn {
    margin-left: .68em;
    color: #ddd;
    font-weight: bold;
    float: right;
    font-size: 1.48em;
    line-height: .9em;
    cursor: pointer;
  }
  
  #errormsg .closebtn:hover {
    color: #000;
  }
  
  #snackbar.show,
  #errormsg.show {
    visibility: visible;
    -webkit-animation: message--fadein 0.5;
    animation: message--fadein 0.5s;
  }
  
  #snackbar.hide,
  #errormsg.hide {
    visibility: hidden;
    -webkit-animation: message--fadeout 0.5s;
    animation: message--fadeout 0.5s;
    transition: visibility 0.5s;
  }
  
  @-webkit-keyframes message--fadein {
    from {
      top: 4.67em;
      opacity: 0;
    }
  
    to {
      top: 7.34em;
      opacity: .98;
    }
  }
  
  @keyframes message--fadein {
    from {
      top: 4.67em;
      opacity: 0;
    }
  
    to {
      top: 7.34em;
      opacity: .98;
    }
  }
  
  @-webkit-keyframes message--fadeout {
    from {
      top: 7.34em;
      opacity: .98;
    }
  
    to {
      top: 4.67em;
      opacity: 0;
    }
  }
  
  @keyframes message--fadeout {
    from {
      top: 7.34em;
      opacity: .98;
    }
  
    to {
      top: 4.67em;
      opacity: 0;
    }
  }
  