body {
    /*background-color:#E0DFE3;*/
    background-color:#1E1E1E;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 30px 0 0 0;
}


#container {
    position: relative;
    text-align: center;
}

#screen {    
    margin:auto;
    width:548;
    height:480;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 16px;
    background: #000;
    padding: 20px;
}

#logo {
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;  
}
