/* All sizing currently done in em with the exception of command bar 
   components (which are in px) */

body {
  background-color: #1E1E1E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  margin: 5em 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  top: 0;
  position: fixed;
  background-color: #1B1B1B;
  color: #BBBBBB;
  padding: .50em;
  font-size: 1.25em;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: block;
  box-shadow: 0 0 .54em 0 rgba(0, 0, 0, 0.4), 0 0 1.34em 0 rgba(0, 0, 0, 0.39);
}

.header__label {
  margin-right: .54em;
  vertical-align: middle;
}

.header__logo {
  vertical-align: middle;
  width: 1.34m;
  height: 1.34em;
}

#js7800__target {
  position: relative;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
}

.controls-button {
  width: 3em;
  height: 3em;
  margin: 0 .8em;
  background: #282828;
  border-radius: .75em;
  box-shadow: 0 .34em .67em 0 rgba(0, 0, 0, 0.4), 0 .5em 1.67em 0 rgba(0, 0, 0, 0.39);
  opacity: .8;
}

.controls-button:hover {
  opacity: 1;
}

.controls-button__img {
  width: 2em;
  height: 2em;
  padding: .5em .5em;
  margin: 0;
  cursor: pointer;
  opacity: .7;
}

.controls-button__img:hover {
  opacity: .9;
}

.controls-button__upload {
  display: inline-block;
  cursor: pointer;
}

.controls-button__upload>input[type="file"] {
  display: none;
}

/* Custom Select */
.cartselect {
  opacity: .8;
  position: relative;
  display: flex;
  width: 25em;
  height: 3em;
  line-height: 3em;
  background: black;
  overflow: hidden;
  border-radius: .75em;
  box-shadow: 0 .34em .67em 0 rgba(0, 0, 0, 0.4), 0 .5em 1.67em 0 rgba(0, 0, 0, 0.39);
  margin: 0 .8em;
}

.cartselect:hover {
  opacity: 1;
}

/* Arrow */
.cartselect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #ce2f37;
  background: #282828;
  cursor: pointer;
  pointer-events: none;
}

/* Reset Select */
.cartselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: black;
  background-image: none;
  flex: 1;
  padding: 0 1em;
  color: #BBBBBB;
  cursor: pointer;
  font-size: 1em;
}

/* Remove IE arrow */
.cartselect select::-ms-expand {
  display: none;
}

.cartselect select optgroup {
  font-weight: bold;
  color: #777777;
}

.cartselect select option {
  font-weight: normal;
  color: #BBBBBB;
}

#content {
  clear: both;
  margin-top: 4.5em;
}

.drop__div {
  position: fixed;
  z-index: -999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.message {
  visibility: hidden;
  color: #BBB;
  text-align: center;
  border-radius: .4em;
  padding: .54em;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 7.34em;
  font-size: 1.25em;
  opacity: .98;
  box-shadow: 0 .27em .54em 0 rgba(0, 0, 0, 0.4), 0 .4em 1.34em 0 rgba(0, 0, 0, 0.39);
  word-wrap: break-word;
}

#snackbar {
  background-color: #222;
  min-width: 16.67em;
  max-width: 16.67em;
  margin-left: -8.335em;
}

#errormsg {
  background-color: #992329;
  cursor: pointer;
  min-width: 23.34em;
  max-width: 23.34em;
  margin-left: -11.67em;
  color: #ddd;
}

#errormsg .closebtn {
  margin-left: .68em;
  color: #ddd;
  font-weight: bold;
  float: right;
  font-size: 1.48em;
  line-height: .9em;
  cursor: pointer;
}

#errormsg .closebtn:hover {
  color: #000;
}

#snackbar.show,
#errormsg.show {
  visibility: visible;
  -webkit-animation: message--fadein 0.5;
  animation: message--fadein 0.5s;
}

#snackbar.hide,
#errormsg.hide {
  visibility: hidden;
  -webkit-animation: message--fadeout 0.5s;
  animation: message--fadeout 0.5s;
  transition: visibility 0.5s;
}

@-webkit-keyframes message--fadein {
  from {
    top: 4.67em;
    opacity: 0;
  }

  to {
    top: 7.34em;
    opacity: .98;
  }
}

@keyframes message--fadein {
  from {
    top: 4.67em;
    opacity: 0;
  }

  to {
    top: 7.34em;
    opacity: .98;
  }
}

@-webkit-keyframes message--fadeout {
  from {
    top: 7.34em;
    opacity: .98;
  }

  to {
    top: 4.67em;
    opacity: 0;
  }
}

@keyframes message--fadeout {
  from {
    top: 7.34em;
    opacity: .98;
  }

  to {
    top: 4.67em;
    opacity: 0;
  }
}

/* Command bar components (uses px) */

.fsselect {
  opacity: .8;
  font-size: 11px;
  color: #fff;
  position: relative;
  display: flex;
  width: 190px;
  height: 20px;
  line-height: 20px;
  background: black;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #666;
  margin: 0 15px 0 15px;
  display: none;
}

.fsselect:hover {
  opacity: 1;
}

/* Arrow */
.fsselect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3px;
  font-size: 11px;
  color: #ce2f37;
  cursor: pointer;
  pointer-events: none;
}

/* Reset Select */
.fsselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: black;
  background-image: none;
  padding: 0 10px;
  color: #CCC;
  cursor: pointer;
  font-size: 11px;
  flex: 1;
}

/* Remove IE arrow */
.fsselect select::-ms-expand {
  display: none;
}

.fsselect select optgroup {
  font-weight: bold;
  font-size: 12px;
  color: #777777;
}

.fsselect select option {
  font-weight: normal;
  font-size: 12px;
  color: #BBBBBB;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 7.5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
}

.modal-content {
  position: relative;
  background-color: #1A1A1A;
  margin: auto;
  border-left: 1em solid #202020;
  border-right: 1em solid #202020;
  width: 65em;
  box-shadow: 0 .34em .67em 0 rgba(0, 0, 0, 0.2), 0 .5em 1.67em 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: .67em;
}

@-webkit-keyframes animatetop {
  from {
    top: -25em;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -25em;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.modal-header {
  padding: .625em;
  background-color: #202020;
  color: #BBBBBB;
  font-size: 1.33em;
  font-weight: bold;

}

.modal-body {
  display: flex;
  align-items: stretch;
}

.modal-footer {
  padding: .834em .4167em;
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.tabset {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.tab {
  padding: .667em;
  background-color: #171717;
  width: 10.5em;
  min-width: 10.5em;
  min-height: 35.67em;
  flex-grow: 0;
}

.tab button {
  opacity: .8;
  display: block;
  font-weight: bold;
  background-color: inherit;
  color: #CCCCCC;
  padding: .62em .923em;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.0834em;
  margin-bottom: .385em;
  border-radius: .308em;
}

.tab button:hover {
  opacity: 1;
  background-color: #333;
  box-shadow: 0 .308em .615em 0 rgba(0, 0, 0, 0.2), 0 .461em 1.54em 0 rgba(0, 0, 0, 0.19);
}

.tab button.active {
  opacity: 1;
  background-color: #8b2429;
  box-shadow: 0 .308em .615em 0 rgba(0, 0, 0, 0.2), 0 .461em 1.54em 0 rgba(0, 0, 0, 0.19);
}

.tabcontent {
  padding: 0 .857em;
  border-left: none;
  display: none;
  color: #BBBBBB;
  flex-grow: 1;
  font-size: 1.167em;
  /* 14px */
  min-height: 35.67em;
  max-height: 35.67em;
  height: 35.67em;
  overflow: auto;  
}

.tabcontent__title {
  font-weight: bold;
  font-size: 1.143em;
  text-align: center;
  line-height: 1em;
  margin: 1em 0 1em 0;
  line-height: 1.125;
}

.tabcontent a, 
.tabcontent a:visited
.tabcontent a:active {
  font-weight: bold;
  text-decoration: none;
  color: #BBB;  
}

.tabcontent a:hover {
  color: #DDD;  
}

.dialog-button {
  background-color: #ce2f37;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.1em;
  margin: 0 .4167em;
  opacity: .6;
  transition: .3s;
  text-decoration: none;
  cursor: pointer;
  padding: .25em .167em;
  min-width: 4.5em;
  border-radius: .25em;
  box-shadow: 0 .334em .667em 0 rgba(0, 0, 0, 0.2), 0 .5em 1.667em 0 rgba(0, 0, 0, 0.19);
}

.dialog-button:hover {
  opacity: 1
}

p.center {
  text-align: center;
}

.about-label {
  margin-right: .571em;
  vertical-align: middle;
}

.about-logo {
  vertical-align: middle;
  width: 1.286em;
  height: 1.286em;
}

.about-atari {
  width: 240px;
  height: 180px;
  margin: 20px auto;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.about-atari__video {
  padding: 15px;
  display: none;
}

.about-atari__top {
  position: absolute;
  /* width: 206px; */
  /* height: 146px; */
  width: 240px;
  height: 180px;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #555;
  /* border: 17px solid black; */
  border-radius: 12px;
}

b.callout {
  font-weight: bold;
  color: #ddd;
}

.controls-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  min-width: 600px;
  margin-top: 40px;
}

.controller {
  width: 291px; 
  min-width: 291px;
  color: #bbb; 
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.controller-keyboard {
  padding: 0 0 5px 5px;
}

.controller__title {
  text-align: center; 
  padding-bottom: 10px;
  font-weight: bold;
}

.controller__inner {
  display: inline-block;
  position: relative;
  width: 291px;
  min-width: 291px;
  height: 151px;   
  min-height: 151px;         
  background-image: url('../images/controller.png');
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controller__keytarget {
  text-align: center;
  color: #ccc;
  background-color: #992329;
  position: absolute;
  width: 40px;
  height: 20px;      
  line-height: 20px;      
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  overflow: hidden;
  font-size: 11px;
}

.controller__keytarget:hover {
  background-color: #ce2f37;
  color: white;
}

.controller__keytarget:focus {
  color: #292929;
  background-color :#ccc;
}

.console {
  padding-top:25px;
}

.console__inner {
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.console__button {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  height: 24px;
  line-height: 24px; 
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 8px;
}

.console__button--up {
  border: 2px solid #464448;
  background-color: #333;
}

.console__button--down {
  border: 2px solid #464448;
  background-color: #b0abb6;  
  color: #111;
}

.gamepad-focus {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
  background-color: #ccc;
  box-shadow: 0 0 2px #ccc;
}

.gamepad-grid {
  background-color: #222; 
  width: 270px;
  grid-column-gap: 5px;
  grid-row-gap:5px;
  display: inline-grid;  
  grid-template-columns: auto 1fr;  
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 25px 1px;
  font-size: 12px;
}

.gamepad-cell-name {  
  overflow: hidden;
  text-align: left;  
  font-weight:bold;
  color: #777;
  white-space: nowrap;
}

.gamepad-cell-value {  
  text-align: center;
  overflow: hidden;
  text-align: left;  
  white-space: nowrap;
}

.dialog-grid {
  margin: 2em 1em 1em 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1em;
  line-height: 1em;
  background-color: #222; 
  border-radius: .4em;
  /* justify-items: center; */
  align-items: center;  
}

.dialog-cell-label {
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  color: #7C7C7C;
  white-space: nowrap;
  /* border: 1px solid red;  */
}

.dialog-cell-content {
  text-align: center;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  /* border: 1px solid red;  */
}

.dialog-switch { /* 14px */
  position: relative;
  display: inline-block;
  width: 2.429em; /*34px;*/
  height: 1.4286em; /*20px;*/
}

.dialog-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dialog-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.6;
  border-radius: 2.4286em; /* 34px;*/
}

.dialog-switch-slider:hover {
  opacity: 1
}

.dialog-switch-slider:before {
  position: absolute;
  content: "";
  height: .857em; /*12px;*/
  width: .857em; /*12px;*/
  left: .2857em; /*4px;*/
  bottom: .2857em; /*4px;*/
  background-color: #DDD;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .dialog-switch-slider {
  background-color: #ce2f37;
}

input:checked+.dialog-switch-slider:before {
  -webkit-transform: translateX(1em /*14px*/);
  -ms-transform: translateX(1em /*14px*/);
  transform: translateX(1em /*14px*/);  
}

.dialog-select { /* 14px */
  opacity: .8;
  font-size: 1em; 
  color: #fff;
  position: relative;
  display: flex;
  width: 14em; /*160px;*/
  height: 1.8em; /*20px;*/
  line-height: 1.8em; /*20px;*/
  background: black;
  overflow: hidden;
  border-radius: .4em; /*4px;*/
  border: 1px solid #666;
}

.dialog-select:hover {
  opacity: 1;
}

/* Arrow */
.dialog-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .3em; /*3px*/
  font-size: 1em;
  color: #ce2f37;
  cursor: pointer;
  pointer-events: none;
}

/* Reset Select */
.dialog-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: black;
  background-image: none;
  padding: 0 .714em;
  color: #CCC;
  cursor: pointer;
  /* font-size: 11px; */
  font-size: .9em;
  flex: 1;
}

/* Remove IE arrow */
.dialog-select select::-ms-expand {
  display: none;
}

.dialog-select select optgroup {
  font-weight: bold;
  font-size: 1em;
  color: #777777;
}

.dialog-select select option {
  font-weight: normal;
  font-size: 1em;
  color: #BBBBBB;
}

.about P {
  text-align: center;
  line-height: 1.5em;
  padding: 0 3em 0 3em;
}

.instructs {
  font-size:1.15em;
  border-radius:1em;
  opacity:0.8;
  padding:1em;
  /* background-color: #1E1E1E;  */
  background-color: #1F1F1F; 
  /* background-color: #9c1919; */
  color:#BBB;
}

.instructs .ilink {
  font-weight: bold;
  color: #CCC;  
}

.instructs .ilink:hover {
  color: #FFF;  
  cursor: pointer;
}

.instructs img {
  width: 1.7em;
  height: 1.7em;
  margin: 0 .2em;
  opacity: .8;
  vertical-align:middle;
  cursor: pointer;
}

.instructs img:hover {
  opacity: 1;
} 

.instructs div {
  vertical-align:middle;
}

.instructs div.ihelp {
  margin-top:1em;
}


