body {
  background-color: #1E1E1E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 60px 0 0 0;
}

#js7800__target {
  position: relative;
  text-align: center;
}

/* Custom Select */
.cartselect__outer {
  margin: 20px;
}

.cartselect {
  position: relative;
  display: flex;
  width: 25em;
  height: 3em;
  line-height: 3;
  margin: 0 auto;
  background: black;
  overflow: hidden;
  border-radius: .75em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

/* Arrow */
.cartselect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #ce2f37;
  background: #202020;
  cursor: pointer;
  pointer-events: none;
}

/* Reset Select */
.cartselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: black;
  background-image: none;
  flex: 1;
  padding: 0 1em;
  color: #BBBBBB;
  cursor: pointer;
}

/* Remove IE arrow */
.cartselect select::-ms-expand {
  display: none;
}

.cartselect select optgroup {
  font-weight: bold;
  /*color: #ce2f37;*/
  color: #777777;
}

.cartselect select option {
  font-weight: normal;
  color: #BBBBBB;
}

.header {
  top: 0px;
  position: fixed;
  background-color: #1B1B1B;
  color: #BBBBBB;
  padding: .50em;
  font-size: 1.25em;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: block;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4), 0 0 20px 0 rgba(0, 0, 0, 0.39);
}

.header__label {
  margin-right: 8px;
  vertical-align: middle;
}

.header__logo {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

#content {
  clear: both;
  margin-top: 4.5em;
}

.drop__div {
  position: fixed;
  z-index: -999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.message {
  visibility: hidden;
  color: #BBB;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 110px;
  font-size: 1.25em;
  opacity: .98;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  word-wrap: break-word;
}

#snackbar {
  background-color: #222;
  min-width: 250px;
  max-width: 250px;
  margin-left: -125px;
}

#errormsg {
  background-color: #550000;
  cursor: pointer;
  min-width: 350px;
  max-width: 350px;
  margin-left: -175px;
}

#errormsg .closebtn {
  margin-left: 15px;
  color: #BBB;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

#errormsg .closebtn:hover {
  color: #000;
}

#snackbar.show,
#errormsg.show {
  visibility: visible;
  -webkit-animation: message--fadein 0.5;
  animation: message--fadein 0.5s;
}

#snackbar.hide,
#errormsg.hide {
  visibility: hidden;
  -webkit-animation: message--fadeout 0.5s;
  animation: message--fadeout 0.5s;
  transition: visibility 0.5s;
}

@-webkit-keyframes message--fadein {
  from {
    top: 70px;
    opacity: 0;
  }

  to {
    top: 110px;
    opacity: .98;
  }
}

@keyframes message--fadein {
  from {
    top: 70px;
    opacity: 0;
  }

  to {
    top: 110px;
    opacity: .98;
  }
}

@-webkit-keyframes message--fadeout {
  from {
    top: 110px;
    opacity: .98;
  }

  to {
    top: 70px;
    opacity: 0;
  }
}

@keyframes message--fadeout {
  from {
    top: 110px;
    opacity: .98;
  }

  to {
    top: 70px;
    opacity: 0;
  }
}

.fsselect {
  max-width: 180px;
  opacity: .7;
  overflow: hidden;
  border-radius: .5em;
  font-size: 11px;
  margin-left: 15px;
  margin-right: 15px;
  background: black;
  border: 1px solid #666;
  color: #EEE;
  padding: 1px 5px 1px 5px;
  display: none;
}

.fsselect:hover {
  opacity: 1
}


.fsselect optgroup {
  font-weight: bold;
  /*color: #ce2f37;*/
  font-size:12px;
  color: #777777;
}

.fsselect option {
  font-weight: normal;
  font-size:12px;
  color: #BBBBBB;
}

