name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Peform build
      run: |
        npm install
        npm run build

    - name: Upload dist
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist

    - name: Upload site
      uses: actions/upload-artifact@v1
      with:
        name: site
        path: site/deploy

    - name: Deploy to GitHub pages (master)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: master
        BRANCH: gh-pages
        FOLDER: site/deploy
        CLEAN_EXCLUDE: '["staging", "mobile", "cycles", "bios", "banksets", "banksets_cycleS"]'

    - name: Deploy to GitHub pages (staging)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: staging
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: staging

    - name: Deploy to GitHub pages (cycles)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/cycles'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: cycles
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: cycles

    - name: Deploy to GitHub pages (banksets)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/banksets'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: banksets
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: banksets

    - name: Deploy to GitHub pages (banksets + cycles)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/banksets_cycleS'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: banksets
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: banksets_cycles

    - name: Deploy to GitHub pages (bios)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/bios'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: bios
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: bios

    - name: Deploy to GitHub pages (mobile)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/mobile'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: mobile
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: mobile

    - name: Deploy to GitHub pages (vulns)
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.event_name == 'push' && github.ref == 'refs/heads/vulns'
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: vulns
        BRANCH: gh-pages
        FOLDER: site/deploy
        TARGET_FOLDER: vulns
